<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
<h3 class="heading">Employee Form</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, non, quod. Cum deleniti distinctio ea impedit itaque libero, minus molestiae nulla officia perferendis porro praesentium quae, quod recusandae, voluptatum. Eaque!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid architecto atque, cum deleniti doloremque et, iusto maiores minus mollitia, non odio officiis quas quis rem saepe sit suscipit vero!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolorem eaque est ipsam itaque iure, laborum magni maiores nostrum quia quibusdam quis reprehenderit sunt? Odio quaerat sapiente sed! Deserunt, ex.</p>
</body>
</html>